openapi: 3.0.3
info:
  title: Peridot ID API
  version: 0.1.0
  description: |
    Gaming Identity Platform — Authentication, Identity, and Profile for the Peridot ecosystem.

    ## Base URL
    All endpoints are prefixed with `/v1`.

    | Environment | Base URL |
    |---|---|
    | Production | `https://api.peridot-id.peridotvault.com/v1` |
    | Local dev | `http://localhost:3301/v1` |

    ## Authentication
    Authentication is **cookie-based**. After a successful Google sign-in the API sets two
    `HttpOnly` cookies:

    - `peridot_access` — short-lived JWT access token (15 min), sent on every request.
    - `peridot_refresh` — long-lived rotating refresh token (30 days), only sent to `/v1/auth`.

    Browsers handle these automatically; non-browser clients must send
    `Cookie: peridot_access=<token>` on each request and call `/v1/auth/refresh` before the
    access token expires.
  contact:
    name: Peridot ID
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.peridot-id.peridotvault.com/v1
    description: Production
  - url: http://localhost:3301/v1
    description: Local development

tags:
  - name: auth
    description: Login, logout, and token refresh
  - name: identity
    description: The user's identity across products
  - name: profile
    description: The user's public profile
  - name: wallet
    description: The user's wallet, associated with their PID
  - name: openapi
    description: Machine-readable API specification

paths:
  /auth/login:
    post:
      tags: [auth]
      summary: Start Google login
      description: |
        Returns the URL a client should navigate to in order to begin Google OAuth.
        The URL points to `GET /auth/google`, which redirects the browser to Google's
        consent screen. After the user consents, the browser is redirected back through
        `/auth/google/callback` and session cookies are set.
      responses:
        "200":
          description: Google authorization URL
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoginResponse"
              example:
                url: "http://localhost:3301/v1/auth/google"
        "429":
          $ref: "#/components/responses/RateLimited"

  /auth/google:
    get:
      tags: [auth]
      summary: Redirect to Google OAuth consent screen
      description: |
        Redirects (HTTP 302) to Google's OAuth consent screen with `scope=profile email`.

        **Browser-navigation only.** Open the URL in a browser tab (top-level navigation);
        it cannot be called via `fetch()` or the Swagger "Send" button — the cross-origin
        redirect to Google is blocked by CORS and appears as `Failed to fetch`, which is expected.

        Not meant to be called directly by clients — use `POST /auth/login` to obtain the URL.
      responses:
        "302":
          description: Redirect to Google consent screen
        "503":
          $ref: "#/components/responses/GoogleNotConfigured"

  /auth/google/callback:
    get:
      tags: [auth]
      summary: Google OAuth callback
      description: |
        Handles the redirect back from Google. On success it:

        1. Creates a new identity + profile on first sign-in, or logs into the existing
           identity when the Google credential `(provider, providerUserId)` is already linked.
        2. Issues `peridot_access` and `peridot_refresh` cookies.
        3. Redirects to the `CLIENT_SUCCESS_URL` configured on the server.

        Both cookies are `HttpOnly; SameSite=Lax`. In production the `Secure` flag is set.

        **Browser-navigation only.** Google redirects the browser here; do not call it
        directly via `fetch()`.
      responses:
        "302":
          description: Redirect to CLIENT_SUCCESS_URL with session cookies set
        "503":
          $ref: "#/components/responses/GoogleNotConfigured"

  /auth/refresh:
    post:
      tags: [auth]
      summary: Rotate the refresh token
      description: |
        Rotates the refresh token and issues a fresh access token. The current `peridot_refresh`
        cookie is **invalidated** and replaced with a new one (rotation), so each refresh token
        can be used exactly once.

        - 401 if the refresh token is missing, expired, already rotated, or forged.
        - Rate limited to 10 requests / minute.
      responses:
        "204":
          description: New access + refresh cookies set; old refresh token revoked
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"

  /auth/logout:
    post:
      tags: [auth]
      summary: Log out
      description: |
        Revokes the current refresh token and clears both session cookies. Idempotent — safe to
        call when already logged out.
      responses:
        "200":
          description: Session ended and cookies cleared
        "429":
          $ref: "#/components/responses/RateLimited"

  /identity/me:
    get:
      tags: [identity]
      summary: Get the current identity
      description: |
        Returns the identity of the authenticated user. The identity ID (`pid_...`) is
        stable forever — it never changes, regardless of which credentials the user links,
        unlinks, or how the profile is updated.
      security:
        - cookieAuth: []
      responses:
        "200":
          description: The current identity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Identity"
              example:
                id: "pid_01K4Y4DWMK7YSH8X4JQY9M4T6P"
                status: "active"
                createdAt: "2026-08-03T13:30:00.000Z"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /identity/credentials:
    get:
      tags: [identity]
      summary: List login credentials
      description: |
        Lists every login credential (provider, email, linked/last-login time) linked to
        the current identity. Each row is one way to prove ownership of the PID.
      security:
        - cookieAuth: []
      responses:
        "200":
          description: The linked credentials
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/IdentityCredential"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /identity/credentials/{id}:
    delete:
      tags: [identity]
      summary: Unlink a login credential
      description: |
        Removes a credential from the current identity. Fails with `400` when it is the
        identity's last credential — every identity must keep at least one way to log in.
      security:
        - cookieAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The credential id
      responses:
        "204":
          description: Credential unlinked
        "400":
          $ref: "#/components/responses/MinOneCredential"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /profile/me:
    get:
      tags: [profile]
      summary: Get the current profile
      description: Returns the profile of the authenticated user.
      security:
        - cookieAuth: []
      responses:
        "200":
          description: The current profile
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Profile"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /profile:
    patch:
      tags: [profile]
      summary: Update the current profile
      description: |
        Updates one or more profile fields. Only provided fields are changed. Usernames are
        lowercased and must match `^[a-z0-9_]{3,20}$`; a `409` is returned when the username
        is already taken.
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProfileUpdate"
            examples:
              set-username:
                summary: Claim a username
                value:
                  username: "ranaufal"
              set-display-name:
                summary: Set a display name and locale
                value:
                  displayName: "PeridotPlayer"
                  locale: "en-US"
              clear-avatar:
                summary: Remove the avatar
                value:
                  avatarUrl: null
      responses:
        "200":
          description: The updated profile
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Profile"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          description: Username already taken
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
              example:
                statusCode: 409
                message: "username sudah dipakai"

  /wallet/me:
    get:
      tags: [wallet]
      summary: Get the current wallet
      description: |
        Returns the wallet associated with the authenticated PID. The wallet belongs to the
        PID, never to a specific login provider — unlinking Google does not affect it.

        Only public association fields are exposed (chain, address, status). No key material
        is ever stored or returned (PRD §9).
      security:
        - cookieAuth: []
      responses:
        "200":
          description: The current wallet
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Wallet"
              example:
                id: "a3f2c9e0-4b7d-4c1a-8e5f-0d1a2b3c4d5e"
                chain: "solana"
                address: "2nBoE7F2vLkGtvXh7QnUhvW5mYPbRmY8GXJqPz9tKcQ"
                status: "active"
                createdAt: "2026-08-10T12:00:00.000Z"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /wallet:
    post:
      tags: [wallet]
      summary: Create the wallet
      description: |
        Creates the wallet for the authenticated PID with a user-supplied Solana address.
        The chain is fixed to `solana` for V3 (single-chain MVP, ADR 003).

        A PID has at most one wallet: creating again returns the existing wallet. Custody is
        record-only — Peridot does not generate, hold, or return any key material.
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WalletCreate"
      responses:
        "200":
          description: The wallet (existing or newly created)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Wallet"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"

  /openapi.yaml:
    get:
      tags: [openapi]
      summary: Get this specification
      description: Returns the raw OpenAPI 3.0 document as `application/yaml`.
      responses:
        "200":
          description: The OpenAPI specification
          content:
            application/yaml:
              schema:
                type: string

components:
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: peridot_access
      description: "JWT access token set by /auth/google/callback or /auth/refresh"

  responses:
    BadRequest:
      description: Validation error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ApiError"
          example:
            statusCode: 400
            message: ["username harus 3-20 karakter: huruf kecil, angka, underscore"]
    MinOneCredential:
      description: Cannot unlink the identity's only login credential
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ApiError"
          example:
            statusCode: 400
            message: "Kamu butuh minimal satu credential untuk login"
    Unauthorized:
      description: Missing, expired, or invalid access/refresh token
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ApiError"
          example:
            statusCode: 401
            message: "Unauthorized"
    NotFound:
      description: The identity or profile does not exist
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ApiError"
          example:
            statusCode: 404
            message: "No Identity found"
    RateLimited:
      description: Too many requests
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ApiError"
          example:
            statusCode: 429
            message: "ThrottlerException: Too Many Requests"
    GoogleNotConfigured:
      description: Google OAuth credentials are not set on the server
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ApiError"
          example:
            statusCode: 503
            message: "Google OAuth is not configured. Set GOOGLE_CLIENT_ID/GOOGLE_CLIENT_SECRET in .env"

  schemas:
    LoginResponse:
      type: object
      required: [url]
      properties:
        url:
          type: string
          format: uri
          description: Navigate here to start Google sign-in
      example:
        url: "http://localhost:3301/v1/auth/google"

    Identity:
      type: object
      required: [id, status, createdAt]
      properties:
        id:
          type: string
          description: "Stable PID for this user across all Peridot products. Never changes."
          example: "pid_01K4Y4DWMK7YSH8X4JQY9M4T6P"
        status:
          type: string
          enum: [active, suspended, deleted]
          description: Identity lifecycle status
        createdAt:
          type: string
          format: date-time

    IdentityCredential:
      type: object
      required: [id, provider, linkedAt]
      properties:
        id:
          type: string
          format: uuid
        provider:
          type: string
          description: "e.g. google, discord, apple, password, passkey"
        email:
          type: string
          format: email
          nullable: true
          description: "Metadata only — the email is not the identity, the PID is."
        linkedAt:
          type: string
          format: date-time
        lastLoginAt:
          type: string
          format: date-time
          nullable: true

    Profile:
      type: object
      required: [id, identityId, createdAt, updatedAt]
      properties:
        id:
          type: string
          format: uuid
        identityId:
          type: string
          description: "The owning identity PID"
        username:
          type: string
          nullable: true
          pattern: "^[a-z0-9_]{3,20}$"
          description: "Lowercase, digits and underscore only"
        usernameChangedAt:
          type: string
          format: date-time
          nullable: true
        displayName:
          type: string
          nullable: true
          maxLength: 64
        avatarUrl:
          type: string
          format: uri
          nullable: true
        locale:
          type: string
          nullable: true
          maxLength: 16
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    ProfileUpdate:
      type: object
      properties:
        username:
          type: string
          pattern: "^[a-z0-9_]{3,20}$"
          description: "Lowercase, digits and underscore only. Send only to change."
        displayName:
          type: string
          nullable: true
          maxLength: 64
          description: "Set to null to clear"
        avatarUrl:
          type: string
          format: uri
          nullable: true
          description: "Set to null to clear"
        locale:
          type: string
          nullable: true
          maxLength: 16
          description: "e.g. en-US. Set to null to clear"

    Wallet:
      type: object
      required: [id, chain, address, status, createdAt]
      properties:
        id:
          type: string
          format: uuid
        chain:
          type: string
          description: "Blockchain the wallet is on — fixed to `solana` for V3"
          example: "solana"
        address:
          type: string
          maxLength: 64
          description: "User-supplied wallet address. Public data only — no key material is stored or returned."
        status:
          type: string
          enum: [active, suspended, deleted]
          description: Wallet lifecycle status (mirrors the identity status convention)
        createdAt:
          type: string
          format: date-time

    WalletCreate:
      type: object
      required: [address]
      properties:
        address:
          type: string
          minLength: 1
          maxLength: 64
          description: "The Solana address to associate with this PID"

    ApiError:
      type: object
      required: [statusCode, message]
      properties:
        statusCode:
          type: integer
        message:
          oneOf:
            - type: string
            - type: array
              items:
                type: string
