openapi: 3.0.3
info:
  title: PeridotID API
  version: 0.1.0
  description: |
    Gaming Identity Platform — Authentication, Identity, and Profile for the Peridot ecosystem.

    ## Base URL
    All endpoints are prefixed with `/v1`.

    | Environment | Base URL |
    |---|---|
    | Production | `https://api.peridot-id.peridotvault.com/v1` |
    | Local dev | `http://localhost:3301/v1` |

    ## Authentication
    Authentication is **cookie-based**. After a successful Google sign-in the API sets two
    `HttpOnly` cookies:

    - `pid_access` — short-lived JWT access token (15 min), sent on every request.
    - `pid_refresh` — long-lived rotating refresh token (30 days), only sent to `/v1/auth`.

    Browsers handle these automatically; non-browser clients must send
    `Cookie: pid_access=<token>` on each request and call `/v1/auth/refresh` before the
    access token expires.
  contact:
    name: PeridotID
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.peridot-id.peridotvault.com/v1
    description: Production
  - url: http://localhost:3301/v1
    description: Local development

tags:
  - name: auth
    description: Login, logout, and token refresh
  - name: identity
    description: The user's identity across products
  - name: profile
    description: The user's public profile
  - name: wallet
    description: |
      The user's wallet, associated with their PID. **Deprecated (V3 surface)** — preserved
      for existing clients, backed by `linked_address` chain accounts. Use `/accounts` and
      the smart account instead (ADR 004).
  - name: account
    description: PeridotID account — owns chain accounts (smart account PDA, legacy linked address)
  - name: credentials
    description: |
      Signing authorities (secp256r1 passkeys, ADR 005). Google OAuth proves identity; a
      passkey authorizes the wallet. The first credential registers freely; each additional
      credential requires approval by an existing credential (ADR 006 §4).
  - name: openapi
    description: Machine-readable API specification

paths:
  /auth/login:
    post:
      tags: [auth]
      summary: Start Google login
      description: |
        Returns the URL a client should navigate to in order to begin Google OAuth.
        The URL points to `GET /auth/google`, which redirects the browser to Google's
        consent screen. After the user consents, the browser is redirected back through
        `/auth/google/callback` and session cookies are set.
      responses:
        "200":
          description: Google authorization URL
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoginResponse"
              example:
                url: "http://localhost:3301/v1/auth/google"
        "429":
          $ref: "#/components/responses/RateLimited"

  /auth/google:
    get:
      tags: [auth]
      summary: Redirect to Google OAuth consent screen
      description: |
        Redirects (HTTP 302) to Google's OAuth consent screen with `scope=profile email`.

        **Browser-navigation only.** Open the URL in a browser tab (top-level navigation);
        it cannot be called via `fetch()` or the Swagger "Send" button — the cross-origin
        redirect to Google is blocked by CORS and appears as `Failed to fetch`, which is expected.

        Not meant to be called directly by clients — use `POST /auth/login` to obtain the URL.
      responses:
        "302":
          description: Redirect to Google consent screen
        "503":
          $ref: "#/components/responses/GoogleNotConfigured"

  /auth/google/callback:
    get:
      tags: [auth]
      summary: Google OAuth callback
      description: |
        Handles the redirect back from Google. On success it:

        1. Creates a new identity + profile on first sign-in, or logs into the existing
           identity when the Google credential `(provider, providerUserId)` is already linked.
        2. Issues `pid_access` and `pid_refresh` cookies.
        3. Redirects to the `CLIENT_SUCCESS_URL` configured on the server.

        Both cookies are `HttpOnly; SameSite=Lax`. In production the `Secure` flag is set.

        **Browser-navigation only.** Google redirects the browser here; do not call it
        directly via `fetch()`.
      responses:
        "302":
          description: Redirect to CLIENT_SUCCESS_URL with session cookies set
        "503":
          $ref: "#/components/responses/GoogleNotConfigured"

  /auth/refresh:
    post:
      tags: [auth]
      summary: Rotate the refresh token
      description: |
        Rotates the refresh token and issues a fresh access token. The current `pid_refresh`
        cookie is **invalidated** and replaced with a new one (rotation), so each refresh token
        can be used exactly once.

        - 401 if the refresh token is missing, expired, already rotated, or forged.
        - Rate limited to 10 requests / minute.
      responses:
        "204":
          description: New access + refresh cookies set; old refresh token revoked
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"

  /auth/logout:
    post:
      tags: [auth]
      summary: Log out
      description: |
        Revokes the current refresh token and clears both session cookies. Idempotent — safe to
        call when already logged out.
      responses:
        "200":
          description: Session ended and cookies cleared
        "429":
          $ref: "#/components/responses/RateLimited"

  /identity/me:
    get:
      tags: [identity]
      summary: Get the current identity
      description: |
        Returns the identity of the authenticated user. The identity ID (`pid_...`) is
        stable forever — it never changes, regardless of which credentials the user links,
        unlinks, or how the profile is updated.
      security:
        - cookieAuth: []
      responses:
        "200":
          description: The current identity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Identity"
              example:
                id: "pid_01K4Y4DWMK7YSH8X4JQY9M4T6P"
                status: "active"
                createdAt: "2026-08-03T13:30:00.000Z"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /identity/credentials:
    get:
      tags: [identity]
      summary: List login credentials
      description: |
        Lists every login credential (provider, email, linked/last-login time) linked to
        the current identity. Each row is one way to prove ownership of the PID.
      security:
        - cookieAuth: []
      responses:
        "200":
          description: The linked credentials
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/IdentityCredential"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /identity/credentials/{id}:
    delete:
      tags: [identity]
      summary: Unlink a login credential
      description: |
        Removes a credential from the current identity. Fails with `400` when it is the
        identity's last credential — every identity must keep at least one way to log in.
      security:
        - cookieAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The credential id
      responses:
        "204":
          description: Credential unlinked
        "400":
          $ref: "#/components/responses/MinOneCredential"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /profile/me:
    get:
      tags: [profile]
      summary: Get the current profile
      description: Returns the profile of the authenticated user.
      security:
        - cookieAuth: []
      responses:
        "200":
          description: The current profile
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Profile"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /profile:
    patch:
      tags: [profile]
      summary: Update the current profile
      description: |
        Updates one or more profile fields. Only provided fields are changed. Usernames are
        lowercased and must match `^[a-z0-9_]{3,20}$`; a `409` is returned when the username
        is already taken.
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProfileUpdate"
            examples:
              set-username:
                summary: Claim a username
                value:
                  username: "ranaufal"
              set-display-name:
                summary: Set a display name and locale
                value:
                  displayName: "PeridotPlayer"
                  locale: "en-US"
              clear-avatar:
                summary: Remove the avatar
                value:
                  avatarUrl: null
      responses:
        "200":
          description: The updated profile
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Profile"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          description: Username already taken
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
              example:
                statusCode: 409
                message: "username sudah dipakai"

  /wallet/me:
    get:
      deprecated: true
      tags: [wallet]
      summary: Get the current wallet
      description: |
        Returns the wallet associated with the authenticated PID. The wallet belongs to the
        PID, never to a specific login provider — unlinking Google does not affect it.

        Only public association fields are exposed (chain, address, status). No key material
        is ever stored or returned (PRD §9).
      security:
        - cookieAuth: []
      responses:
        "200":
          description: The current wallet
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Wallet"
              example:
                id: "a3f2c9e0-4b7d-4c1a-8e5f-0d1a2b3c4d5e"
                chain: "solana"
                address: "2nBoE7F2vLkGtvXh7QnUhvW5mYPbRmY8GXJqPz9tKcQ"
                status: "active"
                createdAt: "2026-08-10T12:00:00.000Z"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /wallet:
    post:
      deprecated: true
      tags: [wallet]
      summary: Create the wallet
      description: |
        Creates the wallet for the authenticated PID with a user-supplied Solana address.
        The chain is fixed to `solana` for V3 (single-chain MVP, ADR 003).

        A PID has at most one wallet: creating again returns the existing wallet. Custody is
        record-only — Peridot does not generate, hold, or return any key material.
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WalletCreate"
      responses:
        "200":
          description: The wallet (existing or newly created)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Wallet"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"

  /accounts:
    post:
      tags: [account]
      summary: Create the default PeridotID account
      description: |
        Creates (or returns) the identity's default account, including the Solana
        `smart_account` chain account whose address is deterministically derived (PDA) and
        resolvable before any on-chain initialization (ADR 004 §5). Smart-account
        initialization happens on the user's first on-chain top-up (PRD_v5 §3), not here.
      security:
        - cookieAuth: []
      responses:
        "200":
          description: The account
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Account"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"

    get:
      tags: [account]
      summary: List the authenticated PID's accounts
      security:
        - cookieAuth: []
      responses:
        "200":
          description: The accounts
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Account"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /accounts/{id}:
    get:
      tags: [account]
      summary: Get one account (ownership-checked)
      description: |
        Returns the account only when it belongs to the authenticated PID. Resolution is
        strictly from the access token — a client-supplied account id never changes the
        owner (no IDOR).
      security:
        - cookieAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: The account
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Account"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /accounts/{id}/chains:
    get:
      tags: [account]
      summary: List an account's chain accounts
      security:
        - cookieAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: The chain accounts
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ChainAccount"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /credentials:
    get:
      tags: [credentials]
      summary: List signing authorities (passkeys)
      description: |
        Returns the authenticated PID's active passkey authorities for their account.
        Public fields only — credential ID, last-used; never key material (ADR 006).
      security:
        - cookieAuth: []
      responses:
        "200":
          description: The authorities
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Authority"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /credentials/register/start:
    post:
      tags: [credentials]
      summary: Begin passkey registration
      description: |
        Returns WebAuthn registration options. When the account already has a credential,
        `isAdditional` is true and an `approval` challenge is included — the client must
        assert with an existing credential to authorize adding the new one (ADR 006 §4).
      security:
        - cookieAuth: []
      responses:
        "200":
          description: Registration options
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegisterStart"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"

  /credentials/register/finish:
    post:
      tags: [credentials]
      summary: Complete passkey registration
      description: |
        Verifies the WebAuthn attestation against the single-use, expiring challenge and
        stores the public key + credential ID (public material only). Rejects a second
        credential without a valid existing-credential approval, a replayed challenge, or
        a duplicated credential ID.
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterFinish"
      responses:
        "200":
          description: The registered authority
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Authority"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"

  /credentials/authenticate/start:
    post:
      tags: [credentials]
      summary: Begin credential authentication
      security:
        - cookieAuth: []
      responses:
        "200":
          description: Authentication options
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticateStart"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"

  /credentials/authenticate/finish:
    post:
      tags: [credentials]
      summary: Complete credential authentication
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuthenticateFinish"
      responses:
        "200":
          description: Verification result
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"

  /credentials/{id}:
    delete:
      tags: [credentials]
      summary: Revoke a signing authority
      description: |
        Revokes a passkey. The account must keep at least one active authority — revoking
        the last one is rejected (ADR 006 §5).
      security:
        - cookieAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: The revoked authority
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Authority"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /wallet/intents:
    post:
      tags: [wallet]
      summary: Create a withdrawal intent
      description: |
        Validates and persists a desired withdrawal (WITHDRAW_SOL / WITHDRAW_TOKEN) for the
        authenticated PID's smart account. Policy: account + registered passkey required,
        amount > 0, valid destination, destination != the smart account. The intent is
        single-use and expires (PRD_v4 §22) — reusing or exceeding it is rejected.
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IntentCreate"
      responses:
        "200":
          description: The created intent
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Intent"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"

  /wallet/intents/{id}:
    get:
      tags: [wallet]
      summary: Get an intent (ownership-checked)
      security:
        - cookieAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: The intent
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Intent"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /wallet/transactions/submit:
    post:
      tags: [wallet]
      summary: Record a submitted on-chain transaction
      description: |
        Records the on-chain submission against a pending, unexpired intent and marks it
        executed (single-use replay protection). Submission itself happens through the
        SDK/adapter.
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TransactionSubmit"
      responses:
        "200":
          description: The recorded transaction
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WalletTransaction"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"

  /wallet/transactions/{id}:
    get:
      tags: [wallet]
      summary: Get a transaction (ownership-checked)
      security:
        - cookieAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: The transaction
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WalletTransaction"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /openapi.yaml:
    get:
      tags: [openapi]
      summary: Get this specification
      description: Returns the raw OpenAPI 3.0 document as `application/yaml`.
      responses:
        "200":
          description: The OpenAPI specification
          content:
            application/yaml:
              schema:
                type: string

components:
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: pid_access
      description: "JWT access token set by /auth/google/callback or /auth/refresh"

  responses:
    BadRequest:
      description: Validation error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ApiError"
          example:
            statusCode: 400
            message: ["username harus 3-20 karakter: huruf kecil, angka, underscore"]
    MinOneCredential:
      description: Cannot unlink the identity's only login credential
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ApiError"
          example:
            statusCode: 400
            message: "Kamu butuh minimal satu credential untuk login"
    Unauthorized:
      description: Missing, expired, or invalid access/refresh token
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ApiError"
          example:
            statusCode: 401
            message: "Unauthorized"
    NotFound:
      description: The identity or profile does not exist
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ApiError"
          example:
            statusCode: 404
            message: "No Identity found"
    RateLimited:
      description: Too many requests
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ApiError"
          example:
            statusCode: 429
            message: "ThrottlerException: Too Many Requests"
    GoogleNotConfigured:
      description: Google OAuth credentials are not set on the server
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ApiError"
          example:
            statusCode: 503
            message: "Google OAuth is not configured. Set GOOGLE_CLIENT_ID/GOOGLE_CLIENT_SECRET in .env"

  schemas:
    LoginResponse:
      type: object
      required: [url]
      properties:
        url:
          type: string
          format: uri
          description: Navigate here to start Google sign-in
      example:
        url: "http://localhost:3301/v1/auth/google"

    Identity:
      type: object
      required: [id, status, createdAt]
      properties:
        id:
          type: string
          description: "Stable PID for this user across all Peridot products. Never changes."
          example: "pid_01K4Y4DWMK7YSH8X4JQY9M4T6P"
        status:
          type: string
          enum: [active, suspended, deleted]
          description: Identity lifecycle status
        createdAt:
          type: string
          format: date-time

    IdentityCredential:
      type: object
      required: [id, provider, linkedAt]
      properties:
        id:
          type: string
          format: uuid
        provider:
          type: string
          description: "e.g. google, discord, apple, password, passkey"
        email:
          type: string
          format: email
          nullable: true
          description: "Metadata only — the email is not the identity, the PID is."
        linkedAt:
          type: string
          format: date-time
        lastLoginAt:
          type: string
          format: date-time
          nullable: true

    Profile:
      type: object
      required: [id, identityId, createdAt, updatedAt]
      properties:
        id:
          type: string
          format: uuid
        identityId:
          type: string
          description: "The owning identity PID"
        username:
          type: string
          nullable: true
          pattern: "^[a-z0-9_]{3,20}$"
          description: "Lowercase, digits and underscore only"
        usernameChangedAt:
          type: string
          format: date-time
          nullable: true
        displayName:
          type: string
          nullable: true
          maxLength: 64
        avatarUrl:
          type: string
          format: uri
          nullable: true
        locale:
          type: string
          nullable: true
          maxLength: 16
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    ProfileUpdate:
      type: object
      properties:
        username:
          type: string
          pattern: "^[a-z0-9_]{3,20}$"
          description: "Lowercase, digits and underscore only. Send only to change."
        displayName:
          type: string
          nullable: true
          maxLength: 64
          description: "Set to null to clear"
        avatarUrl:
          type: string
          format: uri
          nullable: true
          description: "Set to null to clear"
        locale:
          type: string
          nullable: true
          maxLength: 16
          description: "e.g. en-US. Set to null to clear"

    Wallet:
      type: object
      required: [id, chain, address, status, createdAt]
      properties:
        id:
          type: string
          format: uuid
        chain:
          type: string
          description: "Blockchain the wallet is on — fixed to `solana` for V3"
          example: "solana"
        address:
          type: string
          maxLength: 64
          description: "User-supplied wallet address. Public data only — no key material is stored or returned."
        status:
          type: string
          enum: [active, suspended, deleted]
          description: Wallet lifecycle status (mirrors the identity status convention)
        createdAt:
          type: string
          format: date-time

    WalletCreate:
      type: object
      required: [address]
      properties:
        address:
          type: string
          minLength: 1
          maxLength: 64
          description: "The Solana address to associate with this PID"

    ChainAccount:
      type: object
      required: [id, chainNamespace, chainReference, address, accountType, status, createdAt]
      properties:
        id:
          type: string
          format: uuid
        chainNamespace:
          type: string
          description: "CAIP-2 namespace — `solana` (V1)"
          example: "solana"
        chainReference:
          type: string
          description: "CAIP-2 reference — mainnet-beta genesis-hash prefix for Solana"
          example: "4uhcVJyU9pJkvQyS88uRDiswHXSCkY3z"
        address:
          type: string
          description: "PDA (smart_account) or user-supplied address (linked_address). Public data only."
        accountType:
          type: string
          enum: [smart_account, linked_address]
        status:
          type: string
          enum: [active, suspended, deleted]
        createdAt:
          type: string
          format: date-time

    Account:
      type: object
      required: [id, status, version, createdAt, chainAccounts]
      properties:
        id:
          type: string
          format: uuid
        status:
          type: string
          enum: [active, suspended, deleted]
        version:
          type: integer
        createdAt:
          type: string
          format: date-time
        chainAccounts:
          type: array
          items:
            $ref: "#/components/schemas/ChainAccount"

    Authority:
      type: object
      required: [id, type, credentialId, publicKey, createdAt, lastUsedAt]
      properties:
        id:
          type: string
          format: uuid
        type:
          type: string
          enum: [secp256r1]
          description: "Passkey authority model (ADR 005 Option B)"
        credentialId:
          type: string
          nullable: true
          description: "WebAuthn credential ID — public data"
        publicKey:
          type: string
          description: "33-byte compressed secp256r1 public key, base64url — the on-chain smart-account authority"
        createdAt:
          type: string
          format: date-time
        lastUsedAt:
          type: string
          format: date-time
          nullable: true

    RegisterStart:
      type: object
      required: [registrationId, options, isAdditional, approval]
      properties:
        registrationId:
          type: string
          format: uuid
        options:
          type: object
          description: "PublicKeyCredentialCreationOptionsJSON for navigator.credentials.create"
        isAdditional:
          type: boolean
        approval:
          type: object
          nullable: true
          description: "PublicKeyCredentialRequestOptionsJSON for existing-credential approval (null for the first credential)"

    RegisterFinish:
      type: object
      required: [registrationId, credential]
      properties:
        registrationId:
          type: string
          format: uuid
        credential:
          type: object
          description: "WebAuthn RegistrationResponseJSON"
        approval:
          type: object
          nullable: true
          description: "Existing-credential AuthenticationResponseJSON — required when isAdditional"

    AuthenticateStart:
      type: object
      required: [authenticationId, options]
      properties:
        authenticationId:
          type: string
          format: uuid
        options:
          type: object
          description: "PublicKeyCredentialRequestOptionsJSON for navigator.credentials.get"

    AuthenticateFinish:
      type: object
      required: [authenticationId, credential]
      properties:
        authenticationId:
          type: string
          format: uuid
        credential:
          type: object
          description: "WebAuthn AuthenticationResponseJSON"

    IntentCreate:
      type: object
      required: [type, payload]
      properties:
        type:
          type: string
          enum: [WITHDRAW_SOL, WITHDRAW_TOKEN]
        payload:
          type: object
          required: [amount]
          properties:
            amount:
              type: string
              description: "Amount as a decimal string (no JS float precision loss)"
              example: "5000000"
            destination:
              type: string
              description: "WITHDRAW_SOL — destination Solana address"
            mint:
              type: string
              description: "WITHDRAW_TOKEN — token mint"
            destinationAta:
              type: string
              description: "WITHDRAW_TOKEN — destination associated token account"

    Intent:
      type: object
      required: [id, type, payload, status, expiresAt, createdAt]
      properties:
        id:
          type: string
          format: uuid
        type:
          type: string
          enum: [WITHDRAW_SOL, WITHDRAW_TOKEN]
        payload:
          type: object
          description: "Intent payload + resolved context (chain, network, smartAccountAddress)"
        status:
          type: string
          enum: [pending, approved, executed, expired, rejected, cancelled]
        expiresAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time

    TransactionSubmit:
      type: object
      required: [intentId, txHash]
      properties:
        intentId:
          type: string
          format: uuid
        txHash:
          type: string
        network:
          type: string

    WalletTransaction:
      type: object
      required: [id, intentId, chain, network, txHash, status, createdAt]
      properties:
        id:
          type: string
          format: uuid
        intentId:
          type: string
          format: uuid
          nullable: true
        chain:
          type: string
        network:
          type: string
        txHash:
          type: string
          nullable: true
        status:
          type: string
          enum: [prepared, submitted, confirmed, failed]
        createdAt:
          type: string
          format: date-time

    ApiError:
      type: object
      required: [statusCode, message]
      properties:
        statusCode:
          type: integer
        message:
          oneOf:
            - type: string
            - type: array
              items:
                type: string
